agents/__pycache__


__pycache__/


Project\.env

output/

Project/.env

intense-subject-470817-v2-713b73daef4c.json

/home/user/Invoice_Agent_Hackthon/Project/intense-subject-470817-v2-713b73daef4c.json

Project/intense-subject-470817-v2-713b73daef4c.json

Project/__pycache__/


# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env
*.env
# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
